/*General Styling start */
body{
    margin: 0;
    padding: 0;
    font-family: monospace
}
.dashboard{
    display: grid;
    grid-template-columns: 75% 1fr;
    grid-template-rows: 100vh;
    grid-gap: 20px;
    background: black;
}
.section-header{
    font-size: 20px;
    line-height: 20px;
    padding-left: 20px;
    border-bottom: 1px solid rgb(142, 181, 13);
    color:rgb(142, 181, 13);
    margin: 10px 0;
}

.link-container{
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
}

.display-link{
    color: #ffffff;
    padding: 5px 10px;
    border: 1px solid rgb(142, 181, 13);
}

.active-link {
    background: rgb(142, 181, 13);
    color: black;
}
.hide {
    display: none;
}
/*General Styling end */



/*Datatable Styling start */
.data-table{
    height: calc( 100vh - 98px); 
    width: 100%;
}
.data-table .ag-root .custom-row-class{
    background: black;
    text-align: center;
}
.data-table .ag-root .ag-cell{
    line-height: 2;
    padding: 10px 0;
    letter-spacing: 2px;
}
.data-table .ag-root .ag-header-cell-label,
.data-table .ag-root .ag-header-group-cell-label{
    flex-direction: column;
    line-height: 3;
}
.confirmed{
    color: rgba(255,7,58, 0.7);
    border: 1px solid rgba(255,7,58); 
    padding: 2px 5px;
}
.active{
    color:rgb(0,123,255, 0.7);
    border: 1px solid rgb(0,123,255); 
    padding: 2px 5px 2px 30px;
    font-weight: 900 ;
    position: relative;
}
.recovered{
    color:rgb(40,167,69);
    border: 1px solid rgb(40,167,69, 0.7); 
    padding: 2px 5px;
    font-weight: 900;
}
.deceased{
    color:rgb(108,117,125);
    border: 1px solid rgb(108,117,125, 0.7); 
    padding: 2px 5px;
    font-weight: 900;
}
.tested{
    color:#9673b9;
    border: 1px solid #9673b9;
    padding: 2px 5px ;
    font-weight: 900;
    position: relative;
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;    
    border-bottom: 5px solid red;
    position: absolute;
    bottom: 8px;
    left: 10px;
}  
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;    
    border-top: 5px solid green;
    position: absolute;
    bottom: 8px;
    left: 10px;
}
  
/*Datatable Styling end */

/*Chart Styling start */
.chart-box{
    height: 80vh;
    overflow-y: scroll;
}
.filter-chart{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0 0 20px 30px;
}
#stateSelect {
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
}
.range-filter {
    height: 30px;
    line-height: 30px;
}
.active-range {
    text-decoration: underline;
}
.cases-chart,
.dir-chart,
.growth-rate-chart {
    width:95%; 
    height:80vh;
    margin: 0 auto;
}
/*Chart Styling end */


/*News Styling start */
.news-body{
    overflow-y: scroll;
    height: calc(100vh - 61px);
}
.news-box {
    border: 1px solid lightgrey;
    padding: 5px 20px;
    margin: 10px 0;
    font-family: monospace;
}
.news-box:first-child{
    margin-top: 0;
}
.news-box:last-child{
    margin-bottom: 0;
}
.update{
    color: lightgrey;
    margin: 0;
    font-size: 14px
    
}
.time{
    color: lightgrey;
    font-size: 12px;
    text-align: right;
}
/*News Styling end */


/*Mobile specific style*/
@media only screen and (max-width: 600px) {
    .dashboard{
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 0 20px;
    }
}