/* GLOBAL STYLING STARTS HERE */

* {
    box-sizing: border-box;
}

html,
body,
p {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.flex-block {
    display: flex;
}

p.SJ {
    background: #FF9077;
}

p.AJ {
    background: #B1FFAD;
}

p.VJ {
    background: #8E9DFF;
}

p.SSJ {
    background: #F7FF8E;
}

p.KT {
    background: #566573;
}

p.PJ {
    background: #8EFFF7;
}

p.AM {
    background: #800080;
}
/* GLOBAL STYLING ENDS HERE */

/* DASHBOARD STYLING STARTS HERE */
.result-element {
    display: none;
    height: 75vh;
}

.result-element.active {
    display: block;
}

#playerDetails,
.payment-chart-parent {
    padding: 20px;
    width: 50%;
}

#resultTable {
    width: 100%; 
    padding: 20px;
}

.loading-msg {
    font-size: 25px;
    text-align: center;
    margin: 2em;
}

.loading-msg span {
    color: indianred;
}

.last-match-detail {
    display: flex;
    justify-content: center;
}
/* DASHBOARD STYLING ENDS HERE */


/* HALL FAME BUTTON STYLING STARTS HERE */
.shout-out-audio {
    visibility: hidden;
}

.hall-fame-parent {
    text-align: center;
    margin: 10px;
}

.hall-fame-name {
    font-size: 5em;
    font-family: fantasy;
    border: none;
    background: rgb(69, 39, 160);
    color: white;
    width: 200px;
    height: 100px;
}
/* HALL FAME BUTTON STYLING ENDS HERE */

/* DASHBOARD PLAYER CARD STYLING STARTS HERE */
.player-card {
    background-color: transparent;
    height: 150px;
    margin: 0 10px;
    perspective: 1000px;
    display: flex;
    border: 1px solid #2a2a2b;
    width: 100%;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    background-image: none;
    border-radius: 12px;
    border: none rgba(144, 202, 249, 0.145);
    background-color: rgb(94, 53, 177);
    color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
}

.player-card::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 165px;
    background: rgb(69, 39, 160);
    border-radius: 50%;
    top: -125px;
    right: -15px;
    opacity: 0.5;
}

.player-card::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgb(69, 39, 160);
    border-radius: 50%;
    top: -85px;
    right: -95px;
}

.player-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    z-index: 100;
}

.player-card:hover .player-card-inner {
    transform: rotateY(180deg);
}

.player-card-front,
.player-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.player-name {
    margin: 0 auto;
}

.player-card-fix img {
    width: 100%;
    height: 100%;
}

.player-card-front {
    font-size: 20px;
    line-height: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.player-card-back {
    font-size: 11px;
    transform: rotateY(180deg);
    padding: 10px 0;
    line-height: 1.5;
}
/* DASHBOARD PLAYER CARD STYLING ENDS HERE */

/* SIDEBAR NAV MENU STYLING STARTS HERE */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .custom-button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    background: inherit;
    outline: none;
    border: none;
}

.sidenav .custom-button:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}
/* SIDEBAR NAV MENU STYLING ENDS HERE */

/* MASTER TABLE STYLING STARTS HERE */
#recordtable {
    display: flex;
    width: 100%;
    padding: 0 10px;
}
/* MASTER TABLE STYLING ENDS HERE */

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 20px;
    }
    #recordtable { 
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .player-card {
        flex: 0 0 auto; 
    }
    .flex-block {
        flex-wrap: wrap;
    }
    #playerDetails, .payment-chart-parent {
        width: 100%;
    }
    .payment-chart-parent{
        height: 80vh;
    }
    .result-element {
        height: 75;
    }
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.v2-upcoming img{
    width: 100%;
}