/*General Styling start */

html, body, p {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Thambi 2', sans-serif;
}

.chart-element { 
    height: 95vh;
}

.result-element {
    display: none;
}

.result-element.active{ 
    display: block;
}

.button-box {
    display: flex;
    justify-content: space-around;
}

.btn {	
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    border: 3px solid #fff;
    color: #fff;
    height: 50px;	
    background: #000;
    margin: 0 5px;
}

.active-btn{
    background: #fff;
    color: #000;
    border: 2px solid #000;
}	

.header, .row{
    display: flex;
    justify-content: center;
}

.header {
    font-size: 18px;
    font-weight: 900;
}

.row {
    font-size: 14px;
    font-weight: 400;
}
.header p, .row p{
    border: 1px solid black;
    width: 150px;
    padding: 5px 20px;
}

#playerDetails, #resultTable {
    padding: 20px
}
